@import url(fonts.css);
@import url(navigation.css);

.title h1{
  font-family: "BananaYeti", "Times New Roman", Georgia;
  font-size: 1150%;
  text-shadow: 2px 1px 3px #003;
}

.title h2{
  font-family: "BananaYeti", "Times New Roman", Georgia;
  font-size: 560%;
  text-shadow: 2px 1px 3px #003;
}

.title h3{
  font-family: "Della Respira", "Times New Roman", Georgia;
  font-size: 1000%;
  text-shadow: 2px 1px 3px #003;
}

.title {
  text-align: center;
  color: rgb(210, 16, 52);
}

h2 {
  font-family: "Della Respira", "Times New Roman", Georgia;
  font-size: 300%;
  margin: 4vh 0vw;
  color: rgb(210, 16, 52);
}

.content {
  padding-top: 35px;
}

.main-title {
  margin-top: 25vh;
}
.page:last-of-type {
  margin-bottom: 10vh;
}
.page:not(:first-of-type) {
  margin-top: 20vh;
  background-color: rgba(255, 255, 255, 0.83);
  /*background-color: rgba(0, 82, 147, 0.83);*/
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.page {
  font-family: "Lato", "Times New Roman", Georgia;
  text-align: center;
  min-height: 75vh;
  border-radius: 1%;
  padding: 0vh 2vw;
}

.page p, .page li, .page ul{
  text-align: justify;
  color: rgb(0, 0, 0);
}
.page p{
  font-size: 110%;
  text-indent: 7vw;
}
.page ul {
  font-size: 110%;
  list-style-type: square;
}
.page li {
  margin-left: 3vw;
}

.page .more {
  margin-right: 5vw;
  margin-top: 20px;
  text-align: right;
}

.more a:link, .more a:visited{
  color: rgb(210, 16, 52);
}

.more a:hover, .more a:active {
  color: rgb(255, 42, 111);
  text-decoration: none;
}

.route_animation {
  max-height: 300px;
}

.header {
  background-image: url("../images/mill.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;
  height: 400px;
  line-height: 400px;
}
.header span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.subpage {
  margin-top: 5vh;
  font-family: "Lato", "Times New Roman", Georgia;
  padding: 0vh 2vw;
  text-align: justify;
  color: rgb(0, 0, 0);
  font-size: 110%;
  text-indent: 7vw;
  min-height: 125vh;
}
