@import url(fonts.css);
@import url(navigation.css);

h2 {
  font-family: "Della Respira", "Times New Roman", Georgia;
  font-size: 300%;
  color: rgb(210, 16, 52);
}

h4 {
  font-family: "BananaYeti", "Times New Roman", Georgia;
  font-size: 200%;
  color: #000;
}

.title h1{
  font-family: "BananaYeti", "Times New Roman", Georgia;
  font-size: 1150%;
  text-shadow: 2px 1px 3px #003;
}

.title h2{
  font-family: "BananaYeti", "Times New Roman", Georgia;
  font-size: 560%;
  text-shadow: 2px 1px 3px #003;
}

.title h3{
  font-family: "Della Respira", "Times New Roman", Georgia;
  font-size: 1000%;
  text-shadow: 2px 1px 3px #003;
}

.title {
  text-align: center;
  color: rgb(210, 16, 52);
}

.content {
  padding-top: 35px;
}

.anchor {
  /*display: none;*/
}

.main-title {
  margin-top: 25vh;
}
.page:last-of-type {
  margin-bottom: 10vh;
}
.page:not(:first-of-type) {
  margin-top: 20vh;
  background-color: rgba(255, 255, 255, 0.83);
  /*background-color: rgba(0, 82, 147, 0.83);*/
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.page {
  font-family: "Lato", "Times New Roman", Georgia;
  text-align: center;
  height: 75vh;
  min-height: 550px;
  border-radius: 1%;
  padding: 0vh 2vw;
}

.page p, .page li, .page ul{
  text-align: justify;
  color: rgb(0, 0, 0);
}
.page p{
  font-size: 110%;
  text-indent: 7vw;
}
.page ul {
  font-size: 110%;
  list-style-type: square;
}
.page li {
  margin-left: 3vw;
}

.page a:link, .page a:visited {
  color: rgb(210, 16, 52);
  text-decoration: none;
}

.page a:hover, .page a:active {
  color: rgb(255, 42, 111);
}

.page .more {
  margin-right: 5vw;
  margin-top: 20px;
  text-align: right;
}

.route_animation {
  max-height: 300px;
}
/**********SUBPAGE********/
.header {
  background-image: url("../images/mill.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 400px;
  line-height: 400px;
}

@media screen and (min-width: 1600px)
{
  .header {
    background-position: center-center;
    background-size: contain;
  }
}

.header span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.subpage {
  margin-top: 5vh;
  font-family: "Lato", "Times New Roman", Georgia;
  padding: 0vh 2vw;
  text-align: justify;
  color: rgb(0, 0, 0);
  font-size: 110%;
  text-indent: 7vw;
  min-height: 125vh;
}

.people {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.person {
  flex: 1 1 34%;
  margin: 3px;
  padding: 10px;
  border-width: 1px 3px 3px 1px;
  border-style: solid;
  border-color: rgba(3, 3, 3, 0.85);
  border-radius: 15px;
  background-color: rgba(0, 82, 147, 0.5);
  background: -webkit-linear-gradient(left top, rgba(200, 200, 255, 0.2), rgba(0, 82, 147, 0.85));
  background: -o-linear-gradient(bottom right, rgba(200, 200, 255, 0.2), rgba(0, 82, 147, 0.85));
  background: -moz-linear-gradient(bottom right, rgba(200, 200, 255, 0.2), rgba(0, 82, 147, 0.85)); 
  background: linear-gradient(to bottom right, rgba(200, 200, 255, 0.2), rgba(0, 82, 147, 0.85));
}

.person:hover {
  background-color: rgba(0, 82, 147, 0.85);
  background: -webkit-linear-gradient(left top, rgba(200, 200, 255, 0.5), rgba(0, 82, 147, 1));
  background: -o-linear-gradient(bottom right, rgba(200, 200, 255, 0.5), rgba(0, 82, 147, 1));
  background: -moz-linear-gradient(bottom right, rgba(200, 200, 255, 0.5), rgba(0, 82, 147, 1)); 
  background: linear-gradient(to bottom right, rgba(200, 200, 255, 0.5), rgba(0, 82, 147, 1));
}

.person img {
  width: 40%;
  float: left;
  margin-right: 6px;
  border-radius: 8px;
}

.person p {
  text-align: justify;
  color: #222;
  text-indent: 2vw;
}
.person:hover p {
  text-align: justify;
  color: rgb(0, 0, 0);
  text-indent: 2vw;
}
/**********SUBPAGE END********/

.page .contact-intro{
  text-indent: 0;
  text-align: center;
  margin-bottom: 2%;
}

.page .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page .flex-row {
  flex: 1;
  display: flex;
}

.contact-form {
  flex:1;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0vh 2vw 4vh 2vw;
  min-width: 300px;
}

.contact-form:after {
  content: "";
  clear: both;
}

.contact-form form {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-form label {
  box-sizing: border-box;
}
.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
  box-sizing: border-box;
  border-style: outset;
  border-width: 2px;
  border-color: #aaa;
  border-radius: 6px 0px 6px 0px;
  background-color: rgb(241, 241, 241);
  outline: none;
}
.contact-form input[type="text"]:focus, .contact-form input[type="email"]:focus, .contact-form textarea:focus {
  border-color: #fff;
  border-style: inset;
}

.contact-form textarea {
  flex:1;
  background-image: url("../images/envelope-grey.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  resize: none;
}
.contact-form #submit{
  box-sizing: border-box;
  min-width: 8vw;
  margin: 2px auto 0px auto;
  min-height: 30px;
}

.contact-form p {
  text-indent: 0;
}

.contact-data {
  text-align: auto;
  width: 50%;
  padding: 2vh 2vw 4vh 2vw;
  font-size: 150%;
}
.contact-data div {
  margin: 0px auto;
  padding: 0;
}

.contact-data h3 {
  margin-bottom: 7%;
}

.contact-data .social {
  margin-top: 3vh;
}

.contact-data .social .icon {
  margin-right: 3%;
  color: rgb(0, 62, 105);
}
.contact-data .social .icon:hover {
  color: rgb(0, 82, 147);
}