@import url(fonts.css);
@import url(navigation.css);

h1 {
  font-family: "BananaYeti", "Times New Roman", Georgia;
  font-size: 1150%;
}

h2 {
  font-family: "Della Respira", "Times New Roman", Georgia;
  font-size: 300%;
  margin: 4vh 0vw;
}

.content {
  /*background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;*/
}

.back1 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Panama_City_2016_Flut.jpg/1280px-Panama_City_2016_Flut.jpg");
}

.page:first-of-type {
  margin-top: 25vh;
}
.page:last-of-type {
  margin-bottom: 10vh;
}
.page:not(:first-of-type) {
  margin-top: 20vh;
  background-color: rgba(255, 255, 255, 0.83);
  /*background-color: rgba(0, 82, 147, 0.83);*/
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.page {
  font-family: "Lato", "Times New Roman", Georgia;
  text-align: center;
  min-height: 75vh;
  border-radius: 1%;
  color: rgb(210, 16, 52);
  padding: 0vh 2vw;
}

.page p, .page li, .page ul{
  text-align: justify;
  color: rgb(0, 0, 0);
}
.page p{
  font-size: 110%;
  text-indent: 7vw;
}
.page ul {
  font-size: 110%;
  list-style-type: square;
}
.page li {
  margin-left: 3vw;
}

.page .more {
  margin-right: 5vw;
  margin-top: 20px;
  text-align: right;
}

.more a:link, .more a:visited{
  color: rgb(210, 16, 52);
} 

.more a:hover, .more a:active {
  color: rgb(255, 42, 111);
  text-decoration: none;
}

.route_animation {
  max-height: 300px;
}